@model IEnumerable<AdoMvc.ViewModel.Department>

@{
    ViewBag.Title = "user Page";
}
@Html.ActionLink("Create","Create")
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @foreach (var dep in Model)
    {
        <tr>
            <td>@dep.Id</td>
            <td>@dep.Name</td>
            <td>
                <a href="/user/Delete?id=@dep.Id"><i class="fa fa-trash"style="font-size: 25px; color:red;"></i></a>
                <a href="/user/Edit?id=@dep.Id"><i class="fa fa-edit"style="font-size: 25px;"></i></a>
            </td>
        </tr>
    }
</table>